<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beer.name %>
</p>

<p>
  <strong>Style:</strong>
  <%= @beer.style %>
</p>

<p>
  <strong>Brewery:</strong>
  <%= @beer.brewery.name %>
</p>

<% if @beer.ratings.empty? %>
    <p>beer has not been rated</p>
<% else %>
    <p>
        <%= "Has " + pluralize(@beer.ratings.size, 'rating') + " with an average of " + @beer.average_rating.to_s %>
    </p>
<% end %>

<% if current_user %>

    <h4>give a rating:</h4>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit %>
    <% end %>
<% end %>

<p></p>

<%= link_to 'Edit', edit_beer_path(@beer) unless current_user.nil? %> |
<%= link_to 'Back', beers_path %>
