<% cache @beer do %>
    <p>
      <strong>Name:</strong>
      <%= @beer.name %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= @beer.style %>
    </p>

    <p>
      <strong>Brewery:</strong>
      <%= @beer.brewery.name %>
    </p>

    <% if @beer.ratings.empty? %>
        <p>beer has not been rated</p>
    <% else %>
        <p>
            <%= "Has " + pluralize(@beer.ratings.size, 'rating') + " with an average of " + round(@beer.average_rating).to_s %>
        </p>
    <% end %>
<% end %>

<% if current_user %>

    <h4>Give a rating:</h4>

    <%= form_for(@rating) do |f| %>
        <%= f.hidden_field :beer_id %>
        score: <%= f.number_field :score %>
        <%= f.submit class:"btn btn-primary" %>
    <% end %>
<% end %>

<p></p>


<%= edit_and_destroy_buttons(@beer) %>
<%= link_to 'Back', beers_path, class:"btn btn-primary"  %>
